name: Documentation

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; 
                                      Pkg.develop(PackageSpec(path=pwd()));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesAbstractGPs")));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesFlux")));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesMOE")));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesPolyChaos")));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesRandomForest")));
                                      Pkg.develop(PackageSpec(path=joinpath(pwd(), "lib", "SurrogatesSVM")));
                                      Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
        run: julia --project=docs/ --code-coverage=user docs/make.jl
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src,lib/SurrogatesAbstractGPs/src,lib/SurrogatesFlux/src,lib/SurrogatesMOE/src,lib/SurrogatesPolyChaos/src,lib/SurrogatesRandomForest/src,lib/SurrogatesSVM/src
      - uses: codecov/codecov-action@v4
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
